<%- include("./partials/header.ejs") %>

<div class="container-fluid">
    <h3 class="text-dark mb-4">Feedbacks</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Feedback Information</p>
        </div>

        <!-- user -->
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            
                        	<% if(type === "admin"){ %>
                            	<th>Name</th>
                                <th>Sentiment</th>
                            <% } %>
                            <th>Feedback Description</th>
                            <th>Service</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <% feedbacks.forEach(function(feedback){ %>
                    <tbody>
                        <tr>
                            
                        	<% if(type === "admin"){ %>
                            	<td><%= feedback.name %></td>
                                <td><%= feedback.sentiment %></td>
                            <% } %>

                            <td><%= feedback.description %> <br></td>
                            <td><%= feedback.service_name  %> </td>
                            <td><%= feedback.created_at %> <br></td>
                            <% if(type === "user"){ %> 
                                <td style="text-align: right;">
                                    <div style="margin-bottom: 6px;">
                                        <form method="post" action=<%= `/dashboard/user/${current_user.username}/feedbacks/${feedback.feedback_id}?_method=DELETE`%>><button class="btn btn-danger btn-icon-split" type="submit"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text" style="font-size: 12.8px;">Delete</span></button></form>
                                    </div>
                                    <div style="margin-bottom: 6px;">
                                        <a class="btn btn-warning btn-icon-split" role="button" href=<%=`/dashboard/user/${current_user.username}/feedbacks/${feedback.feedback_id}` %>>
                                            <span class="text-white-50 icon"><i class="fas fa-file-upload"></i></span>
                                        <span class="text-white text" style="font-size: 12.8px;">Update</span></a>
                                    </div>
                                </td>
                            <% }%> 
                    
                        </tr>
                    </tbody>
                    <% })%>
                    <tfoot>
                        <tr>
                            <% if(type === "admin"){ %>
                            	<td><strong>Name</strong></td>
                                <td><strong>Sentiment</strong></td>	
                            <% } %>
                            <td><strong>Feedback Description</strong></td>
                            <td><strong>Service</strong></td>
                            <td><strong>Created At</strong></td>
                          
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
    </div>
</div>

<%- include("./partials/footer.ejs") %>