<%- include("./partials/header.ejs") %>

    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5" style="height: 80vh;">
            <div class="card-body p-0">
                <div class="row" style="height: 100%;">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;/img/dogs/image2.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-lg-center">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user" method="post" action=<%= `/register/${type}` %> >
                                <div class="mb-3"><input class="form-control form-control-user" placeholder="Username" name="username" style="margin-bottom: 16px;">
                                    <input class="form-control form-control-user" type="email" placeholder="Email Address" name="email" style="margin-bottom: 16px;">
                                    <input class="form-control form-control-user" type="password" placeholder="Password" name="password" style="margin-bottom: 16px;">
                                </div>
                                <button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
                                <hr>
                            </form>
                            <div class="text-center">
                                <a class="small" href=<%= `/login/${type}` %> >Already have an account? Login!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href=<%= `/` %> >Return Home</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include("./partials/footer.ejs") %>